.header {
  background-color: var(--color-dark-blue);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-gray-dark);

  nav {
    min-height: 60px;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 15px;
  }

  &__menu-link {
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    transition: 0.3s;

    img {
      width: 35px;
      height: 35px;
      border: none;
    }

    &:hover {
      color: var(--color-accent);
    }
  }
}