@use '../../../../../styles/mixins' as mixins;

.movie-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #0F1424;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);

  &:hover {
    transform: scale(1.01);
  }

  &__img {
    width: 100%;
    height: 350px;
    border-radius: 7px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px 8px;
  }

  &__rate {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 5px 8px;
    border-radius: 7px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.8);
  }

  &__number {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-accent);
  }

  &__name {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: var(--color-gray-light);
    text-wrap: wrap;
  }
}

.material-symbols-outlined {
  color: var(--color-yellow);
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}