<div class="movies">
  <div class="movies__top">
    <h1 class="title">Movies</h1>
    <app-search (valueChanged)="onSearchTerm = $event"></app-search>
  </div>
  <div class="movies__bottom">

    @if (isError) {
    <p class="error-text">Failed to load movies. Please try again later.</p>
    }

    @else if (movies$ | async; as movies) {
    @for (movie of (movies | searchPipe: onSearchTerm); track $index) {
    <app-movie-card [movie]="movie" [routerLink]="['/movies', movie.id]"></app-movie-card>
    }
    @empty {
    <p class="error-text">No movies found.</p>
    }
    }
    @else {
    <app-loader></app-loader>
    }
  </div>
</div>